body {
  background-color: whitesmoke;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
  text-align: center;
  color: white;
  background-color: rgb(55, 196, 55);
  font-size: 16px;
  display: inline-block;
  margin: 4px 2px;
  padding: 15px 32px;
  cursor: pointer;
}

#startButton {
  display: block;
  font-size: 26px;
  padding: 24px 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}
